<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="color-span">
  <template>
    <style>
      :host {
        display: var(--color-span-display, inline);
        @apply --color-span-theme;
      }
      .word {
        color: var(--color-span-word-color, teal);
        @apply --color-span-word-theme;
      }
    </style>
    <span class="word">[[word]]</span>
  </template>

  <script>
    Polymer({

      is: 'color-span',

      properties: {
        word: {
          type: String,
          value: 'yolo',
        },
      },

    });
  </script>
</dom-module>
