<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./color-span.html">

<dom-module id="polycompi-app">
  <template>
    <style>
      :host {
        display: block;
        color: black;
        --color-span-theme: {
          background-color: #ddf;
        };
        --color-span-word-theme: {
          border: 1px solid black;
        };
      }

      .warn {
        --color-span-word-color: red;
      }
      .pink-bck {
        --color-span-theme: {
          background-color: pink;
        }
      }
      .flatten-theme {
        /* overrides host completely by cascading, AKA. removes border */
        --color-span-word-theme: {
          /*color: white;*/
        }
      }
      .wrapper color-span {
        --color-span-word-color: black;
        --color-span-theme: {
          background-color: green;
        }
      }
    </style>

    <div class="default">
      <h2>A word : <color-span word="[[aWord]]"></color-span> !</h2>
      <h2>Warn : <color-span word="[[aWord]]" class="warn"></color-span> !</h2>
      <h2>pink-bck : <color-span word="[[aWord]]" class="pink-bck"></color-span> !</h2>
      <h2>pink-bck/warn : <color-span word="[[aWord]]" class="pink-bck warn"></color-span> !</h2>
      <h2>pink-bck/warn/flatten :host : <color-span word="[[aWord]]" class="pink-bck warn flatten-theme"></color-span> !</h2>
    </div>

    <div class="wrapper">
      <h2>styled wrapper : <color-span word="wrap"></color-span> !</h2>
    </div>

    <button on-tap="toggleTheme">Toggle global theme</button>

  </template>

  <script>
    Polymer({

      is: 'polycompi-app',

      properties: {
        aWord: {
          type: String,
          value: 'STYLES',
        },
      },

      toggleTheme: function() {
        var tcsskwc = this.customStyle['--color-span-word-color'];
        // this.customStyle['--color-span-word-color'] = tcsskwc ? undefined : 'white';
        // this.updateStyles();
        this.updateStyles({
          '--color-span-word-color': tcsskwc ? undefined : 'white'
        });
      }

    });
  </script>
</dom-module>
